<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanjeon</title>
    <link rel="stylesheet" href="EstiloLogin.css">
</head>

<body>
<<<<<<< HEAD

    <section class="Container">

        <section class="Container_Login">

            <div class="Img_Login_titulo">
                <a href="/"><img src="Imagenes/logo.png" alt="" class="Img_Logo"></a>
                <h1 class="Titulo">Login</h1>

            </div>


            <form action="/login" method="POST">
                <div class="Login_Container_General">
                    <div class="InicioUser">

                        <input type="text" id="username" name="username" placeholder="UserName">


                    </div>

                    <br>
                    <input type="password" id="password" name="password" placeholder="PassWord">
                    <br>
                    <a href="register" class="Register"> ¿No tienes Cuenta? </a>
                    <br>


                    <input type="submit" value="Iniciar Sesion " class="Btn_login">

                </div>


            </form>

        </section>


    </section>

=======
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <label for="email">Correo electronico:</label>
        <input type="email" id="email" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Login">
    </form>
>>>>>>> 589f4cb9d12aae375c092a9997b0dc607a199174
</body>

</html>