.container_Testimonios{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 1000%;
  }
  
  .title {
    width: 100%;
    text-align: center;
    color: #4499a6;
    margin-top: 20px;
  }
  
  #d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    width: 60%;
    margin-left: 20%;
  }
  
  p  {
    font-family: "Courier New", Courier, monospace;
  }
  
 #text {
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
    margin-left: 150px;
    margin-top: 50px;
  }
  #todo {
    background-color: #f2f2f2;
  }
  
  .foto {
    width: 50%;
    text-align: center;
  }
  
  .foto img {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  
  
  /*@media (max-width: 768px) {
    .carrusel {
      flex-direction: column;
    }
    .card {
      flex-direction: column;
    }
    .text,
    .foto {
      width: 100%;
      padding: 0;
      text-align: center;
    }
    .foto img {
      max-width: 100%;
      height: auto;
    }
  }*/
  


  
  
  /*HUDSON NY*/
  
  @font-face {
    font-family: "HudsonNY";
    src: url("/Fonts/Hudson-NY/Hudson-NY/Hudson\ NY.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  h1,
  h2,
  h3,
  h4,
  h6 {
     font-family: "HudsonNY", sans-serif;
     color: #1f8c8c;

  }
  