
.navbar{
    background-color: rgb(204, 24, 24);
    color: white;
}

.nav-link {
    color: white;
}
.navbar-brand{
    color: white;
}
.btn-outline-success{
    background-color: black;
    color: white;
    border-color: black;
    cursor: pointer;


}
.btn:hover{

    background-color: gray  ;
}

.btn{
    color: white;
    background-color: rebeccapurple
    
    
}
.Imgcarrusel{




}
.carousel-item{

    height: 400px;
    width: 100%

}
.img{

    height: 20px;



}
#ac{
    display: flex;
}

/* Formulario */

.container {
    max-width: 1000%;
    margin-top: 20px;
    padding: 100px;
}

.titulo {
    text-align: center;
    
}

.parrafo {
    margin-top: 20px;
}

formulario{
    margin-top: 40px;
}

.button {
    background-color: #eb3c33;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
}