
.navbar{
    background-color: rgb(204, 24, 24);
    color: white;
    
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link {
    color: white;
}
.navbar-brand{
    color: white;
}
.btn-outline-success{
    background-color: black;
    color: white;
    border-color: black;
    cursor: pointer;


}
.btn:hover{

    background-color: gray  ;
}

.btn{
    color: white;
    background-color: black;

    
    
}
.Imgcarrusel{


}
.carousel-item{

    height: 400px;
    width: 100%

}
.img{

    height: 20px;



}
#ac{
    display: flex;
}
#imagen_usuario{

    height: 20px;
    margin: 10px;


}

.txtProductos{

    background-color: red;
    color:white;
    font-style: italic;
    margin: 15px;
    padding-left: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgb(97, 95, 95);

}

#imgprodutc{

    width: 200px;
    
}

.card{


    margin-top: 20px;
    height: 100%;
    text-align: center;
    align-items: center;
    border: none;
    box-shadow: 6px 5px 2px 1px gray;
    padding-left: 20px;
}


.col{

    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    
}

.card-title{

    text-align: center;
    height: 100px;

}

.btn{
    background-color: rgb(0, 0, 0);
}
.containerProductos{

    background-color: azure;
}
